# ==========================================================
# ROS 2 / Colcon workspace ignore file
# ==========================================================

# Build artifacts
build/
install/
log/

